<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<div class="card" style="width: 18rem;">
  <img src="{{mobile.image.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{mobile.mobile_name}}</h5>
    <p class="card-text">{{mobile.brand}}</p>
      <p class="card-text">{{mobile.price}}</p>
      <p class="card-text">{{mobile.specs}}</p>
<!--    <a href="#" class="btn btn-primary">Go somewhere</a>-->
  </div>
</div>
</body>
</html>